<%= link_to contacts_path, class: "list-group-item" do %>
  All Contacts
  <span class="badge badge-secondary badge-pill">
    <%= Contact.count %>
  </span>
<% end %>

<% Group.all.each do |group| %>
  <%= link_to contacts_path(group_id: group.id), class: "list-group-item" do %>
    <%= group.name.capitalize %>
    <span class="badge badge-secondary badge-pill">
      <%= group.contacts.count %>
    </span>
  <% end %>
<% end %>
