<!DOCTYPE html>
<html>
  <head>
    <title>ContactManager</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/navbar' %>

          <% if user_signed_in? %>
            <!-- content -->
            <div class="container container-contacts">
              <div class="row">
                <div class="col-md-3">
                  <div class="card bg-white border-white border-0 card-custom badges">
                    <div class="list-group list-group-flush">
                      <%= render "contacts/badges" %>
                    </div>
                  </div>
                </div>
                <%= yield %>
              </div>
            </div>
          <% else %>
            <div class="container container-contacts">
              <div class="row">
                <div class="col-md-12">
                  <%= yield if !current_page?(root_path) %>
                  <% if current_page?(root_path) %>
                    <h1>Hello, welcome to Contact Rails</h1>
                    <p>
                      You need to Login or Sign Up to continue.
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </body>
</html>
